@media (max-width: 768px) {
  #showcase .container {
    display: grid;
    grid-gap: 2rem;
  }
  #photo {
    padding-left: 1rem;
  }

  #skills-sets .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem 0 1rem;
  }

  .skill-list ul li {
    text-align: left;
    list-style: none;
    font-size: 18px;
    color: #7c7c7c;
    padding: 0 0 0.75rem 0.75rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 0 auto;
  }

  .py-1 {
    padding: 3rem 0 3rem 0;
  }

  header .container {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 20px;
  }

  header .menu {
    float: right;
    padding-left: 1.75rem;
  }

  #navbar ul li a {
    padding-right: 0.75rem;
    text-align: center;
  }

  #showcase .container {
    display: flex;
    flex-wrap: wrap;
  }

  #photo {
    text-align: center;
    margin: 0 auto;
  }

  #describe {
    display: grid;
    padding: 1rem;
    text-align: center;
  }

  #skills-sets .container {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem 0 2rem;
  }

  .card {
    padding: 0 2rem 0 2rem;
  }

  /* Profile page */
  #bio .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  #summary {
    text-align: left;
    padding-left: 1rem;
  }

  .slidershow {
    width: 300px;
    height: 200px;
    overflow: hidden;
    box-shadow: 8px 8px 5px var(--secondary-color);
    margin-left: 3rem;
  }

  .slide img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
  }

  .navigation {
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
  }

  .slides {
    width: 500%;
    height: 100%;
    display: flex;
  }

  .slide {
    width: 20%;
    transition: 0.6s;
  }

  #r1:checked ~ .s1 {
    margin-left: 0;
  }
  #r2:checked ~ .s1 {
    margin-left: -20%;
  }
  #r3:checked ~ .s1 {
    margin-left: -40%;
  }
  #r4:checked ~ .s1 {
    margin-left: -60%;
  }
  #r5:checked ~ .s1 {
    margin-left: -80%;
  }
  #r6:checked ~ .s1 {
    margin-left: -100%;
  }
}
